@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap");

body {
  font-family: $font-main;
  background-color: $dark;
}
a {
  color: $white;
  transition: color 0.3s ease-in;
  &:hover {
    color: $accent;
  }
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  &_small {
    max-width: 824px;
  }
}
.text-right {
  text-align: right;

}
