.benefits__item-text {
  font-weight: 300;
  font-size: 20px;
  font-family: $font-secondary;
  color: #ffffff;
}
.benefits {
  // .benefits__row

  &__row {
    display: flex;
    column-gap: 70px;
    align-items: center;
    text-align: center;
  }

  // .benefits__item

  &__item {
  }

  // .benefits__item-img

  &__item-img {
  }

  // .benefits__item-text

  &__item-text {
    padding-top: 51px;
  }
}
.marginbtm{
    margin-bottom: 120px;
}