.cta {
  background: linear-gradient(
      180deg,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url("./../img/cta/Rectangle.jpg"), #c4c4c4;
  padding-top: 180px;
  object-fit: cover;
  max-height: 560px;
  padding-bottom: 180px;

  // .cta__title

  &__title {
    margin-bottom: 17px;
  }

  // .cta__wrapper

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  // .cta__text

  &__text {
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }

  // .cta__form

  &__form {
    color: #fff;
  }
}
.cta-margin {
  margin-bottom: 180px;
}
